@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(0, 0, 0); */
}
.line{
    width: 16%;
    color: #3d5f00;
    border-bottom: solid 2px #3d5f00;
}
.line1{
    width: 30%;
    font-weight: 600;
    color: black;
    border: 1px solid #ffffff;
    position: absolute;
    left: 76%;
    top: 4%;
    transform: rotate(42deg);
}
/* .line1 p{
    font-size: 15px;
    background-color: #3d5f00;
} */

 /* .fa-1{
    padding: 0px 5px;
    font-weight: 40 0;
    font-family: "Roboto";
    text-align: right;
    border: solid 1px;
    border-radius: 50px;
    background-color: #608b14;
 } */
 .sec-two-text .shadow{
    position: absolute;
    /* margin: 20px 0 0 0; */
    text-transform: uppercase;
    opacity: 0.05;
    font-size: 90px;
    right: 39%;
    top: 23%;
 }
 .fa-cart-shopping{
    background-color: #3d5f00;
 }
.row{
    display: flex;
}
.jsc{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
/* .ali{
    align-items: center;
} */
header{
    background-color:#3d5f00;
    /* height: 50px; */
    /* padding: 20px 0 0 0; */
}

.main-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid 2px black; */
    
}

.search{
    border-bottom: solid 2px white;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: white;
    /* justify-content: space-between; */
}
.search p{
    display: inline-block;
    margin: 0 60px 5px 0;
}
.search i{
    display: inline-block;
    margin: 0 0 5px 0;
}

.logo{
    width: 50px;
}
.logo img{
    width: 100%;
}

.register{
    display: inline-block;
}

.register a{
    /* display: inline-block; */
    margin: 0 20px 0 0;
    color: white;
    text-decoration: none;
    

}
.register i{
    margin: 0 20px 0 0;
    color: white;
}
nav{
    padding: 20px 0;
    background-color: #ffffff;
}
.links ul li{
    display: inline-block;
    
}
.links a{
    text-decoration: none;
    color:#3d5f00;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    margin: 0 30px 0 0;
}

.links a:hover{
    color: rgb(12, 227, 30);
}

.sec-one{
    background-image: url(./Project/PSD/Burger.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid 2px black; */
}
.sec-one-main{
    padding: 100px 0;
}
.sec-one-text{
    margin: 30px 0 80px 0;
    padding: 90px 0;
}
.sec-one-text h1{
    margin: 30px 0 0 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Alegreya Sans';
    line-height: 60px;
    color: #3d5f00;
    text-transform: uppercase;
}
.sec-one-text h3{
    font-size: 30px;
    color: #3d5f00;
    font-family: 'Alegreya Sans';
    font-weight: 500;
    /* border-bottom: solid 2px #3d5f00; */
    /* width: 30%; */
}
.sec-one-text p{
    margin: 20px 0 30px 0;
    color: #3d5f00;
    font-size: 20px;
    width: 30%;
}

.main-btn button{
    color: white;
    font-size: 15px;
    background-color: #3d5f00;
    padding: 20px 30px;
    border-radius: 35% 0%;
    border: none;
    text-transform: uppercase;
    margin: 10px 0;
}
.main-btn .btn{
    /* font-weight: 300; */
    margin: 0 0 0 10px;
    padding: 15px 25px;
    border: none;
    font-size: 20px;  
}

.sec-two-main{
    position: relative;
    padding: 100px 0;
    /* border: solid 2px black; */
}
.sec-two-text h1{
    /* position: absolute;
    top: 25%;
    left: 40%; */
    font-size: 44px;
    margin: 10px 0 30px 0;
    text-transform: uppercase;
    /* font-family: "Roboto"; */
    text-align: center;
    color: #3d5f00;
}
.sec-two-text h2{
    position: absolute;
    /* margin: 20px 0 0 0; */
    text-transform: uppercase;
    opacity: 0.05;
    font-size: 90px;
    right: 32%;
    top: 24%;
}
.sec-two-text p{
    /* position: absolute; */
    /* padding: 20px 0 0 0; */
    color: #3d5f00;
    font-size: 20px;
    /* margin: 10px 0 30px 0; */
    margin: 0 auto;
    width: 50%;
    /* font-family: "Roboto"; */
    text-align: center;
    /* right: 25%; */
}

/* .sec-three{
    position: relative;
    padding: 100px 0;
    border: solid 2px black; 
} */
   
.sec-one-45{
    position: relative;
    width: 45%;
    /* border: solid 2px black; */
    margin: 0 0 80px 0;
}
.sec-three-main h2{
    font-size: 45px;
    color: #3d5f00;
    font-family: "Roboto";
}
.sec-three-main p{
    font-size: 21px;
    color: #3d5f00;
    margin: 20px 0 0 0; 
    font-family: "Roboto";
}
.peregraph{
    margin: 30px 0;
}

.sec-three-main2{
    background-image: linear-gradient(#3e5f00a1, #3e5f0098), url(./Project/PSD/Sendwich.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* width: 100%; */
}
/* .sec-three-main2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.sec-three-main2 .shape{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%; 
} */
.sec-three-main2 i{
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 70px;
    color: rgba(252, 0, 0, 0.703);
}

.sec-two-60{
    width: 60%;
    margin: 20px 0;
    /* border: solid 2px black; */
}
.sec-two-30{
    width: 30%;
    margin: 20px 0;
    background-image: url(./Project/PSD/periperi.png);
    background-position: center
    /* border: solid 2px black; */
}
.sec-three-30{
    width: 30%;
    margin: 20px 0;
    background-image: url(./Project/PSD/Pumpkin.png);
    background-position: center;
}
.sec-four-30{
    width: 30%;
    margin: 20px 0;
    background-image: url(./Project/PSD/BURGER2.png);
    background-position: center;
}

.sec-four-main h3{
    display: inline;
    color: #3d5f00;
    font-size: 40px;

}
.sec-four-main h4{
    display: inline;
    position: absolute;
    right: 42%;
    font-size: 40px;
    color: #3d5f00;
}
.sec-four-main p{
    margin: 30px 0 20px 0;
    color: #3d5f00;
    font-size: 25px;
}
/* .main-btn1 .btn1{
    color: white;
    font-size: 15px;
    background-color: #3d5f00;
    padding: 20px 30px;
    border-radius: 35% 0%;
    border: none;
    text-transform: uppercase;
    margin: 10px 0;
} */
/* .sec-four-main2{
    background-image: url(./Project/PSD/periperi.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.sec-four-main3{
    background-image: url(./Project/PSD/Pumpkin.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.sec-four-main4{
    background-image: url(./Project/PSD/BURGER2.png);
    background-position: center;
    background-size: cover;
    height: 100%;
} */
.sec-six{
    background-image: url(./Project/PSD/PeriPeri2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-six-main{
    margin: 50px 0;
    padding: 100px 0;
}
.sec-six-text{
    /* margin: 30px 0 80px 0; */
    padding: 60px 0 0 0;
}
.sec-six-text h3{
    font-size: 25px;
    color: #3d5f00;
    line-height: 45px;
}
.sec-six-text h4{
    font-size: 46px;
    color: #3d5f00;
    text-transform: uppercase;
    line-height: 60px;
}
.sec-six-text h5{
    font-size: 25px;
    color: #3d5f00;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-weight: 500;
    line-height: 30px;
}
.sec-six-text p{
    font-size: 18px;
    color: #3d5f00;
    margin: 30px 0;
    width: 45%;
}

.sec-seven-33{
    position: relative;
    width: 30%;
    /* border: 1px solid black; */
    /* margin: 100px 0; */
    background-color: #f1f1f1;
}
.sec-seven-main .choose{
    color: white;
    background-color: #608b14;
    padding: 40px 0;
    text-align: center;
}
.choose .A{
    font-size: 35px;
    font-weight: 500;
}
.choose .dollar{
    font-size: 45px;
    font-weight: 600;   
}
.sec-seven-33 h5{
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
    color: #608b14;
    font-weight: 400;
}
.sec-seven .main-btn{
    position: absolute;
}
.main-btn2 button{
    position: relative;
    left: 32%;
    color: white;
    font-size: 15px;
    background-color: #3d5f00;
    padding: 15px 30px;
    border-radius: 35% 0%;
    border: none;
    text-transform: uppercase;
    margin: 10px 0 35px 0;
    text-align: right;
}
.sec-eight{
    background-image: url(./Project/PSD/VegSendwich.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-eight-main{
    position: relative;
    margin: 100px 0 0 0;
    padding: 100px 0;
}
.sec-eight-text{
    margin: 30px 0 20px 0;
    padding: 90px 0;
}
.sec-eight-text h3{
    position: absolute;
    top: 13%;
    right: -5%;
   
    font-size: 25px;
    color: #3d5f00;
    line-height: 45px;
}
.sec-eight-text h4{
    position: absolute;
    top: 22%;
    right: -5%;
    font-size: 46px;
    color: #3d5f00;
    text-transform: uppercase;
    line-height: 60px;
}
.sec-eight-text h5{
    position: absolute;
    top: 32%;
    right: -6%;
    font-size: 25px;
    color: #3d5f00;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-weight: 500;
    /* line-height: 30px; */
    margin: 20px 0;
}
.sec-eight-text p{
    position: absolute;
    top: 40%;
    right: -5%;
    text-align: end;
    font-size: 19px;
    color: #3d5f00;
    margin: 30px 0;
    width: 40%;
}
.main-btn3 button{
    position: absolute;
    top: 70%;
    right: -5%;
    color: white;
    font-size: 15px;
    background-color: #3d5f00;
    padding: 20px 30px;
    border-radius: 35% 0%;
    border: none;
    text-transform: uppercase;
    margin: 10px 0 35px 0;
    text-align: right;
}
.div-night-33{
    width: 30%;
    /* margin: 100px 0; */
    /* border: 2px solid black; */
    background-color: #f1f1f1;
}
.sec-night-main{
    position: relative;
}
.sec-night-main img{
    width: 100%;
}
.sec-night-main h2{
    font-size: 28px;
    margin: 30px 20px;
    color: #3d5f00;
}
.sec-night-main p{
    margin: 30px 20px;
    color: #3d5f00;
    font-size: 20px;
}
.main-btn4 button{
    color: white;
    font-size: 15px;
    background-color: #3d5f00;
    padding: 12px 30px;
    margin: 0 20px;
    border-radius: 30% 0%;
    border: none;
}

.foot{
    /* height: 500px; */
    background-color: #3d5f00;
    margin: 100px 0 0 0;
    /* padding: 20px 0; */
}
.footer-main{
    position: relative;
    padding: 100px 0 50px 0;
}
.footer-logo img{
    width: 80px;
    display: block;
    margin: 0 auto;
}
.footer-main h1{
    font-size: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    /* line-height: 50px; */
}
.footer-main p{
    font-size: 27px;
    text-align: center;
    color: white;
    margin: 5px 0 25px 0;
}
.icon{
    text-align: center;
 }
.icon i{
    background-color: white;
    margin: 0 0 0 10px;
    padding: 5px;
    border-radius: 30px;
    font-size: 18px;
}
.web p{
    margin: 40px 0;
    font-size: 35px;
}
.triangle{
    position: absolute;
    bottom: 24%;
    left: 5%;
}
.dami-triangle{
    position: absolute;;
    top: 5%;
    left: 25%;
}
.circle{
    position: absolute;
    top: 30%;
    right: 5%;
}
.dami-circle{
    position: absolute;;
    top: 5%;
    left: 38%;
}
